*{
    overflow: hidden;
}
.table-style {
    background: rgb(131, 163, 222);
    border: 1px solid black;
    margin: 2px auto;
    width: 80%;
}

.table{
    margin-top: 2vh;
}
.empLogo {
    min-width: 18px;
    width: 12.5%;
    border-radius: 50%;
}

.fa {
    cursor: pointer;
    pointer-events: auto;
    z-index: 10;
    color: black;
    -webkit-transition: color 0.15s linear;
    transition: color 0.15s linear;
    font-size: 1.1rem;
}

.fa:hover {
    color: rgb(47, 214, 122);
}

.fa-plus:before {
    content: "\f067";
    font-size: 1.5rem;
  }

.fa-trash-alt {
    cursor: pointer;
    pointer-events: auto;
    z-index: 10;
    color: black;
    -webkit-transition: color 0.15s linear;
    transition: color 0.15s linear;
    font-size: 1.1rem;
}

.fa-trash-alt:hover {
    color: rgb(214, 47, 61);
}