.pagination {
        overflow: hidden;
        /* background-color: rgb(255, 232, 236); */
        position: fixed;
        bottom: 0;
        width: 100%;
        /* text-align: center; */
        /* margin: auto; */
        display: flex;
        align-items: center;
        justify-content: center;
}

.pagination button {
    /* color: rgb(255, 93, 120); */
    border: none;
    /* background-color: rgb(255, 232, 236); */
    border-right: 1px solid rgb(255, 93, 120);
    font-size: 25px;
    margin: 13px 0;
    width: 90px;
    border-radius: 50%;
}

.pagination button:hover {
    /* color: white; */
    /* background-color: rgb(255, 93, 120); */
    background-color: #a8a6a6;
    color: black;

}